body {
    background: #dde1e3;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
    position: relative;
    font-size: 14px;
    color: #31383B;
}

#main, #chats {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    box-shadow: 0px 1px 0px 0px #b8c0c4;
}

#chats{
    margin-top: 20px;
}

#chats h2 {
    margin-top: 0;
    font-size: 32px;
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: 1px solid #808f96;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: 1px solid #808f96;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

#text-input{
    width: 489px;
    height: 30px;
    resize: none;
    border-radius: 3px;
    border: 1px solid #a5b0b4;
    box-shadow: inset 0px -1px 0px 0px #d3d9db;
    padding: 5px;
    display: inline-block;
    margin-bottom: 15px;
    font-size: 14px;
    margin-top: 30px;
}
#send-message{
    display: block;
    padding: 6px;
    background: transparent;
    border-radius: 3px;
    border: 1px solid #38A668;
    color: #38A668;
    box-shadow: 0px 1px 0px 0px #4ec381;
    position: relative;
    left: 390px;
    font-size: 14px;
}
.friend {
    font-weight: bold;
}
